<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
</head>
<body>
    <h1>Coming Soon</h1>
    <h3>Team Name: Rainbow Rift</h3>
    <h3>Team Members:</h3>
    <ul>
        <li><%=members[0].name%></li>
        <li><%=members[1].name%></li>
        <li><%=members[2].name%></li>
    </ul>
</body>
</html>