<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h1>Coming Soon</h1>
    <div class="description">
        <h2>Discover and learn fresh food ingredients everyday.</h2>
    </div>
    <h3><a href="/members">Members</a></h3>
</body>
</html>