<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>

    <!--CSS Link-->
    <link rel="stylesheet" href="../css/main.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round|Days+One" rel="stylesheet">

</head>
<body onload="leftTimer()">
<div class="container">
    <h1>Coming Soon</h1>
    <div class="description">
        <h2>A journey to explore fresh food ingredients everyday</h2>
        <h2>Keep a food journal and make it fun!</h2>
    </div>
    <div class="countdown">

        <div class = "counter">
            <div id = "daybox"><span id="day"></span></div>
            <div id = "hourbox"><span id="hour"></span></div>
            <div id = "minbox"><span id="min"></span></div>
            <div id = "secondbox"><span id="second"></span> </div>
        </div>
            <div class = "tags">
            <div id = "daytag"><h3>Days</h3></div>
            <div id = "hourtag"><h3>Hours</h3></div>
            <div id = "mintag"><h3>Minutes</h3></div>
             <div id = "secondtag"><h3>Seconds</h3> </div>
        </div>
    </div>
    <div class="members">
        <h3 class="team-name">Rainbow Rift</h3>
        <ul class="member-names">
            <li><%=members[0].name%></li>
            <li><%=members[1].name%></li>
            <li><%=members[2].name%></li>
        </ul>
    </div>

</div>

<!--Javascript-->
<script type="text/javascript" src="../js/countdown.js"></script>

</body>
</html>
