
/* ====================
    Base Styles
   ==================== */
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    background-image: linear-gradient(to left, rgba(244, 89, 66, 0.7),
    rgba(255, 106, 38, 0)),
    url('https://source.unsplash.com/08bOYnH_r_E/3997x3171');
    background-size: cover;
}


h1 {
    margin: auto;
    color: rgba(255,255,255,0.6);
    text-shadow: 5px 8px 0 rgba(255, 198, 56,0.2);
    font-family: "Century Gothic";
    font-size: 7rem;
    text-align: center;
}

ul {
    list-style: none;
}

/* ====================
    Container Styles
   ==================== */

.container {
    margin: 0 0 0 auto;
    position: absolute;
    top: 7rem;
    right: 0rem;
}

.description{
    text-align: center;
    font-family: "Century Gothic";
    text-shadow: 1px 3px 0 rgba(175, 172, 163, 0.2);
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffff66;
}

.countdown {
    margin: 20px;
}
/* ====================
    Element Styles
   ==================== */

.team-name {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #fff;
    font-size: 3rem;
}

.team-name:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, black,red,
    orange , yellow, green, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.member-names {
    display: flex;
    text-align: center;
    font-family: "Century Gothic";
    color: #fff;
    justify-content: space-around;
    font-size: 1.4rem;
}

#daybox,#hourbox,#minbox,#secondbox {
    display: inline-block;
    width: 8rem;

    margin: 0 3rem;
    border-radius: 50%;

    background-color: rgba(0, 204, 122, 0.4);
    text-align: center;
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
}
#daytag,#hourtag,#mintag,#secondtag {
    display: inline-block;
    width: 8rem;
    height: 2rem;
    margin: 0 3rem;
    padding-top: 1rem;
    border-radius: 50%;

    background-color: rgba(0, 204, 122, 0);
    text-align: center;
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
}
#day,#hour,#min,#second {
    font-size: 3rem;
    line-height: 12rem;
}

.countdown h3 {
    text-align: center;
    font-family: "Century Gothic";
    color: #fff;
    font-size: 2.5rem;
}